.articles{
    border: solid #f0ba65 10px;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    color: black;
    border-radius: 10px;
    max-width: 23rem;
    margin: 1.5rem auto;
}

.artthumbnail{
    max-width: 20vh;
    margin: auto;

}

.title{
    margin: auto;
    text-align: center;
}

li::marker{
    color: white;
}
