  nav {
    background-color: black;
  }

  /* mobile styles first */
  .logo {
    width: 25%;
  }

  /* tablet styles */
  @media screen and (min-width: 768px) {
    .logo {
      width: 25%;
    }
  }

  /* desktop styles */
  @media screen and (min-width: 1024px) {
    .logo {
      max-width: 5rem;
    }

    .home {
      padding: 2rem;
      text-decoration: none;
      color: white;
    }
  }