body{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  overflow: overlay;
}
nav {
    background-color: black;
  }

  /* mobile styles first */
  .logo {
    max-width: 6rem;
  }

.home{
  padding: 2rem;
  text-decoration: none;
  color: white;
}

#site-search{
  max-width: 300px !important;
}
#music-select{
  max-width: 300px !important;
}

.login-form{
  max-width: 400px;
  margin: 2.5rem auto auto;

}

.eachArticle{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto 0 auto;
  border-bottom: solid lightslategray .5px;
  padding : .5rem 0;
}

.todelete{
  margin:0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: #f0ba65;
}