#search{
    padding-top: 5rem;
}

.bx{
    color: white;
    background-color: red;
    height: 2rem;
    width: 2rem;
    display: flex;
}

.menu-item{
    text-decoration: none;
    color: white;
}

.menu-item:link { 
    text-decoration: none; 
}

